.active {
    font-size: 20px;
}

.no_active {
    font-size: 10px;
}

.is_teacher {
    background-color: aqua;
}

.is_student {
    background-color: yellowgreen;
}

.is_admin {
    background-color: red;
}